@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fff;
    --orange: #FF735D;
    --orange-hover: #b3594b;
    --main-background: #1A2E35;
    --second-background: #1F3239;
    --project-button: #1A2C32;
    --project-button-hover: #293a3f;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--main-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 10px auto;
    z-index: 999;
}

header a {
    text-decoration: none;
    color: var(--white);
    margin-left: 50px;
    transition: .25s ease-in-out;
}

header a:hover{
    color: var(--orange);
}

/* apresentation */

#apresentation {
    display: flex;
    align-items: center;
    height: 90vh;
    background-image: url("../images/homemUsandoPc.png");
    background-repeat: no-repeat;
    background-position: 90% 70%;
    color: var(--white);
}

#apresentation div {
    margin-left: 10%;
}

#apresentation h1 {
    font-weight: 700;
    font-size: 3rem;
}

#apresentation h1 span {
    color: var(--orange);
    font-size: 3rem;
}

#apresentation p {
    font-size: 2rem;
    padding-bottom: 50px;
}

.buttonLink {
    padding: 10px 25px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--orange);
    transition: .25s ease-in-out;
}

.buttonLink:hover {
    padding: 12px 27px;
    background-color: var(--orange-hover);
}

/* section project */

.projectsSection {
    color: var(--white);
    background-color: var(--second-background);
}

.projectsSection h5 {
    font-weight: 300;
}

.projecSectionContent {
    margin-left: 10%;
    padding: 100px 0;
    display: flex;
}

.textContent {
    width: 50%;
}

.projectsSectionTitle div {
    display: flex;
    align-items: center;
}

.projectsSectionTitle img {
    margin-right: 10px;
    width: 75px;
    height: 5px;
}

.projectsSectionTitle p {
    font-size: 2rem;
    font-weight: 700;
    padding: 20px;
}

.projectButtons {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.projectButtons #showQuantityProject {
    margin: 0 15px;
}

.nextAndLeftProject{
    background-color: var(--project-button);
    border: none;
    width: 54px;
    height: 54px;
    transition: .25s ease-in-out;
}

.nextAndLeftProject:hover {
    background-color: var(--project-button-hover);
}

.projectButtons i {
    color: var(--white);
}

.projectInfo {
    margin-top: 50px;
}

.projectInfo h2 {
    font-size: 3rem;
}

.projectInfo div {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.projectInfo img {
    margin-right: 10px;
    width: 30px;
    height: 5px;
}

.projectInfo p {
    line-height: 2rem;
    padding-bottom: 35px;
}

.projectImage {
    margin: auto;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.projectImage img {
    width: 500px;
}