@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fff;
    --orange: #FF735D;
    --orange-hover: #b3594b;
    --main-background: #1A2E35;
    --second-background: #1F3239;
    --project-button: #1A2C32;
    --project-button-hover: #293a3f;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--main-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 10px auto;
}

header a {
    text-decoration: none;
    color: var(--white);
    margin-left: 50px;
    transition: .25s ease-in-out;
}

header a:hover{
    color: var(--orange);
}

/* apresentation */

#apresentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto 10%;
    height: 90vh;
    color: var(--white);
}

.textApresentation {
    justify-content: center;
    width: 600px;
}

#apresentation h1 {
    font-weight: 700;
    font-size: 3rem;
}

#apresentation h1 span {
    color: var(--orange);
    font-size: 3rem;
}

#apresentation p {
    font-size: 2rem;
    padding-bottom: 50px;
}

.imageApresentation {
    width: 60%;
}

#imageDesktop {
    display: flex;
    margin: auto;
}

#imgMobile {
    display: none;
}

.buttonLink {
    padding: 10px 25px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--orange);
    transition: .25s ease-in-out;
}

.buttonLink:hover {
    padding: 12px 27px;
    background-color: var(--orange-hover);
}

/* title section */

.sectionTitleContainer {
    display: flex;
    align-items: center;
}

.dashLarge {
    margin-right: 10px;
    width: 75px;
    height: 5px;
}

.sectionTitle {
    color: var(--white);
    font-weight: 300;
}

.resumeSection {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    padding: 20px;
}

/* section project */
.projectContainer {
    display: flex;
    flex-wrap: wrap;
}

.projectsSection {
    color: var(--white);
    background-color: var(--second-background);
}

.contentContainer {
    margin: auto 10%;
    padding: 100px 0;
}

.textContent {
    width: 50%;
}

.projectButtons {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.projectButtons #showQuantityProject {
    margin: 0 15px;
}

.nextAndLeftProject{
    background-color: var(--project-button);
    border: none;
    width: 54px;
    height: 54px;
    transition: .25s ease-in-out;
}

.nextAndLeftProject:hover {
    background-color: var(--project-button-hover);
}

.projectButtons i {
    color: var(--white);
}

.projectInfo {
    margin-top: 50px;
}

.projectInfo h2 {
    font-size: 3rem;
    color: var(--orange);
}

.projectInfo div {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.projectInfo img {
    margin-right: 10px;
    width: 30px;
    height: 5px;
}

.projectInfo p {
    line-height: 2rem;
    padding-bottom: 35px;
}

.projectImage {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.projectImage img {
    width: 500px;
}

/* technologies section */
#technologiesExp {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.techContainer {
    width: 250px;
    height: 250px;
    background-color: var(--second-background);
    display: flex;
    flex-direction: column;
}

.techName {
    font-size: 36px;
    margin: auto;
    color: var(--white);
}

.fab {
    font-size: 175px;
    margin: auto;
    color: var(--orange);
}

#technologiesExpLeft {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#technologiesExpLeft div {
    margin-right: 70px;
}
@media (max-width: 500px) {    
    header {
        max-width: 95%;
        margin: auto;
    }

    header svg {
        width: 48px;
    }

    header a {
        font-size: 12px;
    }

    #apresentation {
        align-content: center;
        flex-wrap: wrap-reverse;
        margin: auto 5%;
        height: 90vh;
    }

    .textApresentation {
        max-width: 100%;
        margin-top: 25px;
    }

    #apresentation h1 {
        font-size: 1.5rem;
    }

    #apresentation h1 span {
        font-size: 1.5rem;
    }

    #apresentation p {
        font-size: 1rem;
        padding-bottom: 25px;
    }

    .imageApresentation {
        max-width: 100%;
        width: 100%;
    }

    .imageApresentation img {
        width: 100%;
    }

    .textContent {
        width: 90%;
        margin: auto;
    }
    
    .dashLarge {
        margin-right: 10px;
        width: 75px;
        height: 5px;
    }

    .resumeSection {
        display: none;
    }

    .projectButtons {
        display: flex;
        align-items: center;
        padding-top: 25px;
    }

    .projectInfo h2 {
        font-size: 2rem;
    }

    .projectInfo p {
        line-height: 1.5rem;
        padding-bottom: 35px;
        text-align: justify;
    } 

    .projectImage {
        margin: 0;
        margin-top: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #imageDesktop {
        display: none;
    }
    
    #imgMobile {
        width: 90%;
        margin: auto;
        display: block;
    }

    #technologiesExp {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    .techContainer {
        width: 90px;
        height: 90px;
        background-color: var(--second-background);
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    
    .techName {
        font-size: .5rem;
        margin: auto;
        color: var(--white);
    }
    
    .fab {
        font-size: 35px;
        margin: auto;
        color: var(--orange);
    }
}
